ellipse{
				fill:white;
				stroke:steelblue;
				stroke-width:2px;
			}

			line{
			  stroke:grey;
			  stroke-width:3px;
			}

			.incRect{
				stroke:grey;
				shape-rendering:crispEdges;
			}

			#treesvg g text:hover, #treesvg g circle:hover{
				cursor:pointer;
			}

			#navdiv{
				background:#bbb;
			}

			#treesvg, #toposvg{
				border:1px solid grey;
			}

			#labelpos{
				color:white;
			}

			#navdiv button, #navdiv textarea{
				vertical-align:middle;
			}

			#g_labels text{
				text-anchor:middle;
			}

			#g_elabels text{
				text-anchor:middle;
				fill:red;
				font-weight:bold;
				font-size:10pt;
			}

			circle.entity {
				stroke: #fff;
				stroke-width: 1.5px;
			}

			line.link {
				stroke-width: 2px;
				stroke: #999;
				stroke-opacity: 0.6;
			}

			text.incircle {
				font-size:10px;
				color:#000;
			}

			text.incircle:hover {
				cursor:default;
			}

			marker#arrow {
				stroke: #999;
				fill: #999;
			}

			.container {
				font-family: "Courier New";
				width: 680px;
				height: 300px;
				overflow: auto;
				border: 1px solid black;
			}

			.table {
				border: 1px solid black;
			}

			#flowtable {
				border-collapse: collapse;
				border: 2px;
				margin-left: 200px;
			}

			#flowtable td {
				border: solid gray 1px;
				font-family: "Courier";
			}

			#flowtable th {
				border: solid gray 1px;
			}